<style>
  /*==================
RESERVATION SECTION
====================*/
#mu-reservation{
	background-color: #222;
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
	.mu-reservation-area{
		display: inline;
		float: left;
		width: 100%;
		.mu-title{
			h2{
				color: #fff;
			}
		}
		.mu-reservation-content{
			display: inline;
			float: left;
			margin-top: 20px;
			padding: 0 100px;
			width: 100%;			
			h3{
				color: #fff;
				display: inline-block;
				padding-bottom: 10px;
				font-weight: bold;
			}
			p{
				color: #fff;
				letter-spacing: 0.5px;
				padding: 0 50px;
				text-align: center;
			}
			.mu-reservation-form{
				margin-top: 30px;
				text-align: center;

				.form-control{
					margin-bottom: 20px;
				}

				input[type="text"],
				input[type="email"]{						
					border-radius: 0;
					color: #000;
					height: 40px;
					&:focus{
						box-shadow: none;
					}
					&::-webkit-input-placeholder {
					   color: #555;
					}

					&:-moz-placeholder { // Firefox 18-
					   color: #555;
					}

					&::-moz-placeholder {  // Firefox 19+
					  color: #555;  
					}

					&:-ms-input-placeholder {  
					   color: #555; 
					}
				}
				select{
					border-radius: 0;
					height: 40px;					
					&:focus{
						box-shadow: none;
					}
					option{
						margin-bottom: 10px;
						color: #000;
					}
				}
				textarea{
					border-radius: 0;
					color: #000;
					padding: 10px;
					&:focus{
						box-shadow: none;
					}
					&::-webkit-input-placeholder {
					   color: #555;
					}

					&:-moz-placeholder { // Firefox 18-
					   color: #555;
					}

					&::-moz-placeholder {  // Firefox 19+
					  color: #555;  
					}

					&:-ms-input-placeholder {  
					   color: #555; 
					}
				}
				button[type="submit"]{
					border: none;
					margin-top: 20px;
					margin-left: 15px;
				}
				
			}
		}
	}
}
.datepicker {
  border-radius: 0;					 
  padding: 6px 10px;
}
.datepicker .datepicker-switch, .datepicker .prev, .datepicker .next, .datepicker tfoot tr th { 
  font-size: 20px;
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  padding: 6px;
}
.datepicker table tr td.day:hover{	
	color: #fff;
}

</style>


<!-- Start Reservation section -->
<section id="mu-reservation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-reservation-area">
            <div class="mu-title">
              <span class="mu-subtitle">Make A</span>
              <h2>Reservation</h2>
              <i class="fa fa-spoon"></i>              
              <span class="mu-title-bar"></span>
            </div>
            <div class="mu-reservation-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quidem autem iusto, perspiciatis, amet, quaerat blanditiis ducimus eius recusandae nisi aut totam alias consectetur et.</p>
              <form class="mu-reservation-form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">                       
                      <input type="text" class="form-control" placeholder="Full Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">                        
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">                        
                      <input type="text" class="form-control" placeholder="Phone Number">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select class="form-control">
                        <option value="0">How Many?</option>
                        <option value="1 Person">1 Person</option>
                        <option value="2 People">2 People</option>
                        <option value="3 People">3 People</option>
                        <option value="4 People">4 People</option>
                        <option value="5 People">5 People</option>
                        <option value="6 People">6 People</option>
                        <option value="7 People">7 People</option>
                        <option value="8 People">8 People</option>
                        <option value="9 People">9 People</option>
                        <option value="10 People">10 People</option>
                      </select>                      
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="datepicker" placeholder="Date">              
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone No">                      
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" cols="30" rows="10" placeholder="Your Message"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="mu-readmore-btn">Make Reservation</button>
                </div>
              </form>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <!-- End Reservation section -->